.jogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 200px;
}
.portas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: stretch;
}
.botoes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

.botoes button{
    
    background-color:#c0392c;
    color: #ddd;
    font-size: 2rem;
    border: none;
    padding:10px 25px;

}

.botoes button:hover{
    background-color:rebeccapurple;
    color: #ddd;
    font-size: 2rem;
    border: none;
    padding:10px 25px;

}